<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'submit_review.css' %}">
    <link rel="stylesheet" href="{% static 'menu.css' %}">
<title>Update Review</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static '1HELGAS BLOG.png' %}" alt="Logo">
        </div>
        <h1>Welcome</h1>
        <button id="menu-btn">&#9776;</button>
    </header>
    
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'form' %}">Form</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'gallery' %}">Gallery</a>
        <a href="{% url 'chatbot' %}">Chatbot</a>
    </nav>

<h1>Update Review</h1>
<form method="post">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Update Review</button>
</form>
<a href="{% url 'home' %}"><button>Back to Home</button></a>
</body>
</html>