body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c8aed3 ;
    color: #290b2c;
}

main {
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: left;
}

h2 {
    color: #290b2c;
}

section {
    margin-bottom: 20px;
    padding-left: 29%;
   
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #290b2c;
    color: #c78fe0;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    bottom: 0;  
    
}
button{color: rgb(44, 2, 48); 
    background-color: rgb(205, 186, 235);
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bold;
    font-weight: 200;
    padding: 1%;
    margin: 2px;
    border: 0px;
    animation: animate-fade 3s;}
     
   
@keyframes animate-fade {
    0% { opacity: 0; }
     100% { opacity: 1; }
      }


    fieldset {
        border: 1px solid #d2c3d3;
        margin-bottom: 20px;
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #dacce2;
    }
    
    label {
        display: block;
        margin-bottom: 10px;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #d2c3d3;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type="checkbox"],
    input[type="radio"] {
        margin-right: 5px;
    }
    
    
 
    fieldset {
        border: none; /* Remove border for fieldset */
        margin-bottom: 20px;
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #dacce2; /* Background color for form elements */
    }
